.icon-key {
    background-image: url(../images/member.png) !important;
}

.icon-login {
	background-image: url(../images/logout.png) !important;
}

.icon-webinfo {
	background-image: url(../images/information.png) !important;
}